#forumForm {
    width: 400px;
}

#inputs {
    width: 100%;
}

#msg, li:has(#msg) {
    height: 200px;
    width: 100%;
}

#msg {
    padding: 10px;
    resize: none;
    background-color: #fcfcff;
}

#forum {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.post {
    padding: 10px;
    margin: 30px;
    width: 50%;
    background-color: beige;
}

.name,
.msg {
    padding: 0px;
    margin: 5px;
    text-align: left;
}

.likes {
    float: right;
}

.date, .likes {
    font-style: italic;
    opacity: 0.5;
    margin-left: 5px;
    float: right;
}

.comments {
    margin: 5px;
}

.comment {
    text-align: left;
    opacity: 0.7;
    padding: 10px;
    margin: 15px;
    border: 1px solid rgba(128, 128, 128, 0.219);
}

.cmt_msg {
    margin: 10px;
}

.cmt_btn {
    width: 100px;
}