body {
    background-color: #f2f5f5;
}

#strip {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

body button {
    font-family: serif;
}

#general {
    width: 50%;
    height: 100%;
    top: 0px;
    background-color: lavender;
    padding: 50px;
    max-width: 1000px;
    min-width: 600px;
}

.quote {
    font-style: italic;
    opacity: 0.8;
}

h1, h2 {
    text-transform: uppercase;
}

#name {
    padding-top: 30%;
    margin: -15px;
    font-size: 450%;
}

#title {
    font-size: 180%;
}

h1, h2, span, p {
    color: #0c4046;
}

p {
    width: 75%;
}

button {
    font-size: 130%;
    color: lavender;
    text-transform: uppercase;
    opacity: .5;
    transition: 0.5s;
    width: 15%;
    min-width: 110px;
    height: 50px;
    border: none;
    background-color: darkred;
    margin: .5%;
}

button:hover {
    color: white;
    opacity: 1
}

@media only screen and (max-width: 600px) {
    #buttons {
        width: 200px;
        padding: 5px;
    }
    
    #buttons button {
        margin: 5px;
    }
}