#form {
    background-color: lavender;
    padding: 15px;
    width: 400px;
    overflow: hidden;
}

ul {
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

li {
    margin-bottom: 15px;
    height: 30px;
}

#labels {
    text-align: left;
    float: left;
}

#inputs, #send {
    float: right;
    margin: 0px;
}

li:has(#send) {
    height: auto;
    margin: 0px;
}

input {
    width: 250px;
    height: 25px;
    border: none;
    background-color: #f5f5ff;
    transition: 0.5s;
}

input:hover {
    background-color: #fcfcff;
}

#message, li:has(#message) {
    height: 100px;
}